<h1><%= @restaurant.name %></h1>
<p>Adress : <%= @restaurant.address %></p>
<p>Category : <%= @restaurant.category %></p>

<div> 
<% @restaurant.reviews.each do |review| %>
<p>Review : <%= review.content %></p>
<p>Rating : <%= review.rating %></p>
<% end %>
</div>

<p><%= link_to "All restaurants", restaurants_path %></p>
<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></p>
